* {

    margin: 0px;
  
    padding: 0px;
  
    box-sizing: border-box;
  
  }
  
  .body-text {
  
    display: flex;
  
    font-family: "Montserrat", sans-serif;
  
    align-items: center;
  
    justify-content: center;
  
    margin-top: 250px;
  
  }
  
  nav {

    align-self: center;
    display: flex;

    justify-content: space-around;
  
    align-items: center;

    min-height: 15vh;

    width: 90%;
  
    background-color: teal;

    border-radius: 10px;
  
    font-family: "Montserrat", sans-serif;
  
  }

  main{
    width: 90%;
    height: 150px;
    background-color: #f0f0f0;
  }
  
  article{
    width:90%;
    height: 500px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  footer{
    width: 90%;
    height: 50px;
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px;
  }
  .heading {
  
    color: white;
  
    text-transform: uppercase;
  
    letter-spacing: 5px;
  
    font-size: 20px;
  
  }
  
  .nav-links {
  
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  
  }
  
  ul li {
  
    list-style: none;
    display: inline;
  
  }
  
  .nav-links a {
  
    color: white;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 14px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    background-color: lightseagreen;
  
  }
  
  .nav-links li a.active {
  
    background-color: #4caf50;
  
  }
  
  